{% extends "base.html" %}

{% block title %} Forgot Password {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <p style="align:center"></p>

    <h4 class="text-center my-5">Did you Forget Your Password?</h4>
    <p class="text-center" my-1>To reset password, enter your email, and we will send instructions on how to recover your account</p>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <hr>
                <button class="btn btn-primary mx-1" type="submit">Reset Password</button
            </form>
        </div>
    </div>
</div>
{% endblock%}